@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import "home.scss";
* {
  font-family: "Roboto", sans-serif;
}
ul,
li,
p,
h1,
h2,
h3,
span,
a {
  text-decoration: none;
  padding: 0;
  margin: 0;
  list-style: none;
}
.wrapper {
  min-height: 100vh;
  overflow: hidden;
}

.header {
  li {
    color: rgba(0, 0, 0, 0.55);
    padding: 0.7rem 0;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    position: relative;

    .line {
      position: absolute;
      bottom: 0px;
      transition: 0.2s ease;
      background-color: #0671e0;
      left: 0;
      display: block;
      height: 2px;
      width: 0;
    }

    &:hover .line {
      width: 20px;
    }
  }
  .top-header {
    border-top: 1px solid #d3d3d3;
    background: #e7e7e7;
    padding: 10px 0;
  }
  .search-wrap {
    width: 700px;
    margin: auto;
    .search-icon{
        background-color: #fff;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 15px;
    }
    .btn-search {
      width: 130px;
      height: 50px;
      background-color: #1b73bb;
      color: #fff;
      text-align: center;
      border-radius: 0;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
    }
    select{
        background-color: #2294f0;
        width: 150px;
        height: 50px;
        text-align: center;
        color: #fff;
        border: 0;
        border-radius: 0;
        box-shadow: none;
    }
    input {
      height: 50px;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #212529;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border-radius: 0.25rem;

      &:focus {
        box-shadow: none;
      }
    }
  }
}

.banner{
    background-image: url(../img/banner.png);
    background-repeat: initial;
    background-size: auto;
    position: relative;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 30px;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center bottom;
    color: #000;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* responsive */

/* Styles cho iPad Mini với độ rộng màn hình 768px */
@media screen and (min-width: 768px) and (max-width: 1023px) {
}

/* Styles cho các thiết bị mobile với độ rộng màn hình tối đa 767px */
@media screen and (max-width: 767px) {
}
